{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rayans Black Box Investigation</title>
    <link rel="stylesheet" href="style-blackbox.css">
  </head>
  <body>

<h1 style="font-family: Monospace">WELCOME TO RAYANS WEBSITE!</h1>
<h2 style="font-family: Monospace">Rayan's Claim</h2>
<p style="font-family: Monospace">The mystery black box includes a bucket which tips when it fills up and goes down another tube to then flow down and pour out the water.</p>
<h2 style="font-family: Monospace">Rayan's Evidence</h2>
<p style="font-family: Monospace">The data that had been collected was very important because it proved the fact that the bucket might tip or when it fills to a certain point it overflows and goes down the tube, when it does any of those we now know the experiment had worked.

Also, the evidence has been proven to be correct, because of how we tested it out and proved it was a correct claim. Our evidence that we have collected has been astonishing. It has made our black box model more reliable and more better. Another piece of evidence would be that all of our tests and inquiries relating to the black box were proven once again to be correct. The tests were mostly starting off with 1000ml and seeing where it would go and when we would do that it would come out less or more.

This means that the Black Box would store water at multiple times and keep it in until a amount of water was given and then release it all out, The Black Box wouldn’t be a reliable source because it would either give you more water or less water. So our evidence concluded that the Black Box wasn’t reliable and we had needed to find the exact amount that would release all the water.</p>

<h2 style="font-family: Monospace">Rayan's Reasoning</h2>
</h2><p style="font-family: Monospace">To start off, a concept would be like a model/representation of a thing. It would demonstrate how a thing would work or not work, we use concepts everywhere. Such as New Media and Tech which is where we make a concept of how we think the black box looks like.
My evidence supports the claim I made because of the concept I made, which is that when a bucket overflows it either tips or it overflows and spews some water out from the tube.
It would have been way different because if another opposite claim were to be correct my recreation of the black box would fail horribly.
But when we tested it the data aligned with both the real Mystery Black Box and our recreation of it. The data would have turned out like this, water spilling everywhere, a mess, and a whole lot of other things would have happened if the opposite of our claim was right.</p>
<h2 style="font-family: Monospace">Black Box Model</h2>
<img src="{% static 'core/Screenshot 2024-10-10 084848.png' %}" alt="describe image">
<p style="font-family: Monospace">The link to my black box project in Augmented Reality! - https://objects.mergeedu.com/link/P4WM9Q</p>

<h2 style="font-family: Monospace">My Real Life Black Box</h2>

<img src="{% static 'core/blackbox.jpg' %}" alt="describe image">

<p style="font-family: Monospace">This Black Box was made by 4 people. The 4 people in my group all colloborated and helped equally in everything. So how i made the black box was basically, i started with a cardboard box and then i had brought some tube and stuck one end on the top and the other on the bottom so i could channel water down the drain and it can come out and we can measure it.

<table>
  <tr>
    <th>Investigation</th>
    <th>ML Poured</th>
    <th>ML Poured</th>
  </tr>
  <tr>
    <td>Water(in ML) per investigation</td>
    <td>1000ml</td>
    <td>500ml</td>
  </tr>
  <tr>
    <td>Water poured out after each experiment</td>
    <td>700ml</td>
    <td>1300ml</td>
  </tr>
</table>

<p style="font-family: Monospace">To start off, In this project i was studious, caring, helpful to others. I think this because i was a big helping hand in the project and I think that this project was a reflection on me and my effort. So I think that this project was a complete success and overall it was very fun to do and I wish to do it again another time.
